name: test

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".devcontainer/*"
      - ".editorconfig"
      - ".github/*"
      - ".gitignore"
      - ".sops.yaml"
      - ".vale.ini"
      - ".vscode/*"
      - "*/README.md"
      - "CONTRIBUTING.md"
      - "LICENSE"
      - "README.md"
      - "renovate.json"
  # push:
  #   branches: [ '*' ]
  #   tags-ignore: [ '*' ]

jobs:
  manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup yq
        uses: fluxcd/pkg/actions/yq@main
      - name: Setup kubeconform
        uses: fluxcd/pkg/actions/kubeconform@main
      - name: Setup kustomize
        uses: fluxcd/pkg/actions/kustomize@main
      - name: Validate manifests
        run: ./scripts/validate.sh
